*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  scroll-behavior: smooth;
}
body,html{
  width: 100%;
  height: 100%;
  background-color: rgb(226, 237, 255);
}
main{
  width: auto;
  height: auto;
}
.section1{
  z-index: 2;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.webgl_canvas1{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}
nav{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  z-index:9999;
}
h2{
  font-weight: 400;
  font-size: 1.5vw;
}
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.links a{
  color: black;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.hero_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 40px;
}
.hero_content{
  width: 100%;
  height: calc(90vh - 70px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.hero_content h1{
  font-size: 5.5vw;
  text-align: center;
  cursor: default;
}
.hero_content h3{
  font-weight: 500;
  text-align: center;
}
.btn_container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_container button{
  padding: 10px 45px;
  background-color: #4d4dff;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 30px 8px rgba(95, 95, 255, 0.592);
  border-radius: 6px;
}
.hero_content span{
  color: rgb(77, 77, 255);
}
.section2{
  width: 100%;
  height: auto;
  position: relative;
  cursor: default;
  padding-bottom: 40px;

}
.webgl_canvas2{
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: red; */
}
.roadmapContainer{
  width: 100%;
  height: auto;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.eachContent{
  /* background-color: red; */
  padding: 1rem;
  /* border-bottom: 2px solid rgba(151, 151, 151, 0.784); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.topPart{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;

}
.twoPartContainer{
  max-width: 500px;
}
.twoPartContainer p{
  width: 70%;
  font-size: 14px;
}
.title{
  font-size: 1.6vw;
  font-weight: 500;
}
.level{
  font-weight: 400;
  padding: 0.5rem;
  background-color: rgba(77, 127, 255, 0.116);
  border-radius: 5px;
  font-size: 0.9vw;
}
.img_container img{
  width: 70px;
}
.section2 h2{
  font-size: 2vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.701);
  text-align: center;
  /* text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.234); */
  padding: 30px 0;
}
.intermediate{
  background-color: rgba(210, 210, 22, 0.267);
}
.advanced{
  background-color: rgba(255, 0, 0, 0.217);
}
.section3{
  width: 100%;
  height: auto;
  padding-bottom: 80px;
}
.section3>h2{
  font-size: 2vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.701);
  text-align: center;
  /* text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.234); */
  padding: 30px 0;
}
.outerResourceContainer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}
.innerResourceContainer{
  /* background-color: red; */
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;

}
.eachResource{
  padding: 0.8vw;
  width: 300px;
  height: auto;
  border: 2px solid #4d85ff34;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  gap: 6px;
  box-shadow: 0px 4px 20px 2px #4d4dff22;
}
.eachResource .from{
  font-weight: 500;
  font-size: 0.8vw;
  background-color: #c7c7c757;
  padding: 5px;
  border-radius: 5px;
}
.eachResource .resourceTitle{
  font-weight: 600;
  font-size: 1.3vw;
}
.eachResource .about{
  font-size: 0.9vw;
  color: rgba(23, 23, 23, 0.691);
}
.eachResource .resourceBtnContainer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resourceBtnContainer a{
  margin-top: 10px;
  background-color: #4d4dff;
  width: 100%;
  text-align: center;
  padding: 8px;
  color: whitesmoke;
  border-radius: 10px;
  text-decoration: none;
}
.from_level{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.from_level .resourceLevel{
  font-weight: 400;
  font-size: 13px;

}
footer{
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  width: 100%;
  height: auto;
  padding: 20px 30px;
}
footer h3{
  text-align: center;
  font-size: 1vw;
  font-weight: 400;
}
footer a{
  font-weight: 600;
  color: black;
}
footer p{
  text-align: center;
  font-size: 1vw;
}

@media only screen and (max-width:800px){

  nav{
    height: 40px;
  }
  nav h2{
    font-size: 2.3vw;
  }
  .links a{
    font-size: 1.9vw;
  }
  .section1 h1{
    font-size: 6.3vw;
  }
  .hero_content{
    height: 100dvh;
  }
  .section1{
    min-height: 60vh;
  }
  .roadmapContainer{
    z-index: 2;
  position: relative;
  }
  .section2 h2{
    font-size: 3vw;
  }
  .roadmapContainer .title{
    font-size: 2.6vw;
  }
  .roadmapContainer p{
    font-size: 1.4vw;
  }
  .twoPartContainer{
    max-width: 444px;
  }
  .roadmapContainer img{
    width: 45px;
  }
  .roadmapContainer .level{
    font-size: 1.3vw;
  }
  .section3 h2{
    font-size: 3vw;
  }

  .innerResourceContainer{
    width: 100%;
    height: auto;

    padding: 10px;
  }
  .eachResource{
    padding: 10px;
  }
  .eachResource .from{
    font-size: 1.5vw;
    font-weight: 500;
  }
  .eachResource .resourceTitle{
    font-size: 2vw;
  }
  .eachResource .about{
    font-size: 1.5vw;
  }
  footer h3{
    font-size: 1.7vw;
  }
  footer p{
    font-size: 1.6vw;
  }
}

@media only screen and (max-width:480px){
  nav{
    height: auto;
    padding: 20px 14px;
  }
  nav h2{
    font-size: 16px;
  }
  .hero_content{
    height: 50vh;
    padding: 0 14px;
  }
  .hero_content h1{
    font-size: 28px;
  }
  .hero_content h3{
    font-weight: 400;
    font-size: 14px;
  }
  .hero_container{
    gap: 1rem;
  }
  .hero_content button{
    margin-top: 20px;
  }
  .section2 h2{
    font-size: 20px;
    padding: 20px 14px;
  }
  .eachContent{
    gap: 2.2rem;
  }
  .eachContent .title{
    font-size: 16px;
  }
  .eachContent p{
    font-size: 12.5px;
    width: auto;
  }
  .eachContent .level{
    font-size: 10px;
  }
  .eachContent img{
    width: 38px;
  }
  .section3 h2{
    font-size: 20px;
  }
  .eachResource .from{
    font-size: 12px;
  }
  .eachResource .resourceLevel{
    font-size: 11px;
  }
  .eachResource .resourceTitle{
    font-size: 16px;
  }
  .eachResource .about{
    font-size: 12px;
  }
  .eachResource .from_level{
    padding-bottom:6px;
  }
  footer h3{
    font-size: 14px;
  }
  footer p{
    font-size: 12px;
  }
}